<!DOCTYPE html>
<html>

<head>
    <title> <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" \>
</head>

<body>
    <h1><%= title %></h1>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="new_todo" placeholder="새로운 할 일">
            <button type="button" class="btn btn-primary"> 추가 </button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>내용</th>
                <th>완료</th>
                <th>삭제</th>
                <th>마감</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script src="/javascripts/todo.js"></script>

</html>