body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


.table{
  margin-top: 16px;
  text-align: center;
}

.btn-primary{
  margin-left: 5px;
}
.btn-modified{
  background-color: #e08918 !important;
}
.btn-hide{
  background-color: #e08918 !important;
}

tr{
  text-align: center;
}

table {
  border-collapse: collapse;
}
.contents{
  font-size: 15px;
  /* padding-top: 11px !important; */
}
.end_time{
  font-size: 15px;
}
.priority{
  font-size: 15px !important;
}

td {
  font-size: 20px;
  position: relative;
  padding: 5px 10px;
  height: 66px;
}
.coment{
  text-align: right;
  color:gray;
}
/* .hide{
  width: 70%;
} */
/* #title{
  width:30%;
}
#contents{
  width: 70%;
} */
