body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


.table{
  margin-top: 16px;
}

.btn-primary{
  margin-left: 5px;
}

tr{
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 25px;
  position: relative;
  padding: 5px 10px;
  height: 66px;
}

/* tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1.2px solid #111;
  width: 100%;
} */
